/*
Colors:
	: #EDEDED;
	button-background: #F0650D;
	button-background::hover: #E64C0A;
	: #157CB2;
	: #293A43;
	: #000000;

Fonts:
	'Raleway', sans-serif
 */

* {
  box-sizing: border-box;
}

body {
  font-family: Raleway;
  font-style: normal;
}

h1 {
  font-weight: bold;
  font-size: 60px;
  line-height: 70px;
  text-align: center;
  color: #ffffff;
}

h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  color: #000000;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

.button {
  height: 60px;
  background: #f0650d;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  font-weight: 800;
  font-size: 20px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}

.button:hover,
.button:active {
  background: #e64c0a;
}

.link {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 21px;
  text-align: center;
  color: #157cb3;
  display: inline-block;
  text-decoration: none;
}

.link:hover,
.link:active {
  text-decoration-line: underline;
}

.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

.header {
  height: 750px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(
      0deg,
      rgba(41, 58, 67, 0.9),
      rgba(41, 58, 67, 0.9)
    ),
    url("../img/1920/Header\ Background.png");
  mix-blend-mode: normal;
  background-position: center;
  background-size: cover;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header > h1 {
  margin-top: 319px;
}

.header__button {
  margin-top: 39px;
  width: 326.91px;
  height: 60px;
}

.portfolio {
  margin-top: 18px;
}

.portfolio__container {
  display: grid;
  grid-template-rows: repeat(3, 250px);
  grid-template-columns: repeat(4, 1fr);
  row-gap: 18px;
  column-gap: 30px;
}

.portfolio-item {
  color: white;
  background-position: center;
  position: relative;
  z-index: 0;
  background-size: cover;
}

.portfolio-item::before {
  background-color: rgba(41, 58, 67, 0.65);
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.portfolio-item:hover,
.portfolio-item:active {
  color: #f0650d;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.portfolio-item:hover::before,
.portfolio-item:active::before {
  background-color: rgba(41, 58, 67, 0.9);
}

.portfolio-item__a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: inherit;
}

.portfolio-item__text {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
}

.portfolio-item__a:link {
  color: inherit;
}

.portfolio-item:nth-child(1) {
  grid-column-end: span 2;
  background-image: url(../img/Common/Portfolio\ Item\ Background\ 1.png);
}

.portfolio-item:nth-child(2) {
  background-image: url(../img/Common/Portfolio\ Item\ Background\ 2.png);
}

.portfolio-item:nth-child(3) {
  background-image: url(../img/Common/Portfolio\ Item\ Background\ 3.png);
}

.portfolio-item:nth-child(4) {
  background-image: url(../img/Common/Portfolio\ Item\ Background\ 4.png);
}

.portfolio-item:nth-child(5) {
  grid-column-end: span 2;
  background-image: url(../img/Common/Portfolio\ Item\ Background\ 5.png);
}

.portfolio-item:nth-child(6) {
  grid-row-end: span 2;
  background-image: url(../img/Common/Portfolio\ Item\ Background\ 6.png);
}

.portfolio-item:nth-child(7) {
  background-image: url(../img/Common/Portfolio\ Item\ Background\ 7.png);
}

.portfolio-item:nth-child(8) {
  background-image: url(../img/Common/Portfolio\ Item\ Background\ 8.png);
}

.portfolio-item:nth-child(9) {
  background-image: url(../img/Common/Portfolio\ Item\ Background\ 9.png);
}

.promo {
  background: #ededed;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content 1fr;
  /* align-items: center; */
}

.promo__header {
  font-size: 32px;
  line-height: 38px;
  margin: 83px 15px 18px calc(100% * 0.325);
}

.promo__side-image-container {
  position: relative;
  grid-row-end: span 2;
  width: 100%;
  width: min(100%, 637px);
  padding-top: 41px;
  padding-bottom: 24px;
}

.promo__side-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.promo__text-container {
  margin-left: calc(100% * 0.325); /* 312px */
  margin-right: 15px;
}

.promo__text {
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 21px;
}

.promo__text:nth-of-type(2) {
  margin-top: 61px;
}

.subscribe {
  background: #293a43;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px 0;
  padding-left: 247px;
  column-gap: 59px;
  row-gap: 17px;
}

.subscribe__input {
  border: 1px solid #000000;
  height: 48px;
  width: min(100%, 508px);
  font-style: italic;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-indent: 23px;
}

.subscribe__button {
  width: 218px;
}

.blog {
  /* background: #ededed; */
  /* padding: 0; */
  padding: 0 calc(100% * 0.1625);
}

.blog__header {
  margin-top: 37px;
  display: block;
  text-align: left;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.blog__items-container {
  margin-top: 76px;
  margin-bottom: 55px;
  display: flex;
  flex-direction: row;
  width: 100%;
  column-gap: 25px;
}

.blog-item {
  width: calc((100% - 50px) / 3);
  position: relative;
  padding-bottom: 63px;
}

.blog-item__image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.blog-item__header {
  margin-top: 18px;
  font-weight: 600;
  font-size: 20px;
  line-height: 21px;
}

.blog-item__text {
  margin-top: 12px;
  font-weight: normal;
  font-size: 20px;
  line-height: 21px;
}

.block-item__a {
  position: absolute;
  bottom: 21px;
}

.carousel {
  position: relative;
  height: 616px;
}

.carousel__track-container {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.carousel__track {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 250ms ease-in;
}

.carousel__slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.carousel__slide:nth-of-type(2) {
  left: 100%;
}

.carousel__slide:nth-of-type(3) {
  left: 200%;
}

.carousel__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.carousel__button {
  position: absolute;
  top: 0;
  height: 100%;
  width: 135px;
  z-index: 1;
  border: none;
}

.carousel__button.clickable {
  cursor: pointer;
}

.carousel__button img {
  filter: invert(100%) opacity(50%);
}

.carousel__button:hover.clickable img,
.carousel__button:active.clickable img {
  filter: invert(100%) opacity(80%);
}

.carousel__button--prev {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.3) 0%,
    rgba(0, 0, 0, 5e-5) 100%
  );
  left: 0;
}

.carousel__button--prev:hover.clickable,
.carousel__button--prev:active.clickable {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 5e-5) 100%
  );
}

.carousel__button--next {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 5e-5) 0%,
    rgba(0, 0, 0, 0.3) 100%
  );
  right: 0;
}

.carousel__button--next:hover.clickable,
.carousel__button--next:active.clickable {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 5e-5) 0%,
    rgba(0, 0, 0, 0.8) 100%
  );
  right: 0;
}

.carousel__nav {
  position: absolute;
  bottom: 16px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.carousel__indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: none;
  padding: 0;
  background-color: transparent;
  border: 1px solid #ffffff;
  cursor: pointer;
}

.carousel__indicator.selected {
  background-color: #ffffff;
  border: none;
  cursor: default;
}

.pricing {
  margin-top: 93px;
  padding: 0 calc(100% * 0.1625);
  background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 34.9%),
    url("../img/1920/Pricing\ Background.png");
  background-size: cover;
  background-position: top center;
  padding-bottom: 300px;
}

.pricing__header {
  padding-top: 55px;
}

.pricing__planes-container {
  margin-top: 55px;
  display: flex;
  width: 100%;
  column-gap: calc(0.036 * 100%); /* ~47px */
  flex-wrap: wrap;
  justify-content: center;
}

.price-plane {
  width: calc((100% - (0.072 * 100%)) / 3);
  background: rgba(255, 255, 255, 0.91);
  border: 1px solid #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 124px;
  position: relative;
}

.price-plan__title {
  background: #c4c4c4;
  border-bottom: 1px solid #000000;
  width: 100%;
  font-weight: 500;
  font-size: 32px;
  line-height: 60px;
  text-align: center;
}

.price-plan__price {
  font-size: 32px;
  line-height: 32px;
  margin-top: 35px;
  text-align: center;
}

.span--price {
  font-weight: bold;
}

.price-plan__details {
  margin-top: 32px;
}

.price-plan_details__item {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
}

.price-plan__button {
  position: absolute;
  bottom: 26px;
}

.price-plan__button--free {
  background: #ffffff;
  border: 2px solid #f0650d;
  color: #f0650d;
}

.price-plan__button--free:hover,
.price-plan__button--free:active {
  color: #ffffff;
}

.footer {
  background: #293a43;
  padding: 42px 0;
}

.footer__copywriting {
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
}

.footer__social-container {
  margin-top: 24px;
  display: flex;
  justify-content: center;
  column-gap: 15px;
}

.social-icon {
  height: 37px;
}

.social-icon > a {
  display: inline-block;
  height: 37px;
}

@media (max-width: 1919px) {
  .header {
    background-image: linear-gradient(
        0deg,
        rgba(41, 58, 67, 0.9),
        rgba(41, 58, 67, 0.9)
      ),
      url("../img/1280/Header\ Background.png");
  }

  .header__button {
    width: 264px;
  }

  .portfolio__container {
    row-gap: 18px;
    column-gap: 20px;
  }

  .promo {
    margin-top: 18px;
  }

  .promo__header {
    margin-left: calc(100% * 0.14);
  }

  /* .promo__side-image {
    padding-top: 30px;
    padding-bottom: 35px;
  } */

  .promo__text-container {
    margin-left: calc(100% * 0.14);
    margin-right: 0;
  }

  .promo__text:nth-of-type(2) {
    margin-top: 40px;
  }

  .subscribe {
    padding-left: 0;
    justify-content: center;
  }

  .blog {
    padding: 0 calc(100% * 0.07);
  }

  .blog__header {
    text-shadow: none;
  }

  .pricing {
    background-image: linear-gradient(
        180deg,
        #ffffff 0%,
        rgba(255, 255, 255, 0) 34.9%
      ),
      url("../img/1280/Pricing\ Background.png");
    padding: 0 calc(100% * 0.07);
    padding-bottom: 270px;
  }
}

@media (max-width: 1279px) {
  .header {
    background-image: linear-gradient(
        0deg,
        rgba(41, 58, 67, 0.9),
        rgba(41, 58, 67, 0.9)
      ),
      url("../img/834/Header\ Background.png");
  }

  .portfolio__container {
    grid-template-rows: repeat(4, 220px);
    grid-template-columns: repeat(3, 1fr);
  }

  .portfolio-item:nth-child(4) {
    grid-column-start: 1;
  }

  .portfolio-item:nth-child(5) {
    grid-row-start: 2;
    grid-column-start: 2;
  }

  .portfolio-item:nth-child(6) {
    grid-column-start: 3;
  }

  .portfolio-item:nth-child(7) {
    grid-row-start: 3;
    grid-column-start: 2;
  }

  .promo__header {
    margin-left: calc(100% * 0.14);
  }

  .promo__text-container {
    margin-left: calc(100% * 0.14);
  }

  .blog {
    padding: 0;
  }

  .blog__header {
    text-align: center;
  }

  .blog__items-container {
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 35px;
    gap: 13px;
  }

  .blog-item {
    width: max(((100% - 26px) / 3), 260px);
  }

  .blog-item__header,
  .blog-item__text,
  .block-item__a {
    margin-left: 8px;
  }

  .carousel {
    height: 400px;
  }

  .carousel__button:not(.clickable) {
    display: none;
  }

  .pricing {
    margin-top: 0;
    padding: 0;
    background-image: linear-gradient(
        180deg,
        #ffffff 0%,
        rgba(255, 255, 255, 0) 34.9%
      ),
      url("../img/834/Pricing\ Background.png");
    padding-bottom: 270px;
  }

  .pricing__header {
    text-align: center;
  }

  .pricing__planes-container {
    gap: 18px;
  }

  .price-plane {
    width: 340px;
  }
}

@media (max-width: 833px) {
  .header {
    background: #293a43;
    height: unset;
    min-height: 330px;
  }

  .header > h1 {
    margin-top: 72px;
    font-size: 48px;
    line-height: 56px;
  }

  .header__button {
    margin-top: 33px;
    margin-bottom: 55px;
  }

  .portfolio {
    margin-top: 12px;
  }

  .portfolio__container {
    grid-template-rows: repeat(6, 180px);
    grid-template-columns: 1fr 1fr;
    gap: 12px;
  }

  .portfolio-item:nth-child(4) {
    grid-row-start: 4;
  }

  .portfolio-item:nth-child(5) {
    grid-row-start: 3;
    grid-column-start: 1;
  }

  .portfolio-item:nth-child(6) {
    grid-column-start: 2;
  }

  .portfolio-item:nth-child(7) {
    grid-row: unset;
    grid-column: unset;
  }

  .promo {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 11px 14px 28px;
  }

  .promo__header {
    margin: 0;
  }

  .promo__side-image-container {
    padding: 0;
    width: 100%;
    max-height: 400px;
  }

  .promo__side-image-container::before {
    content: "";
    display: block;
    padding-top: 88%;
  }

  .promo__side-image {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    object-position: center;
    object-fit: contain;
  }

  .promo__text-container {
    margin-left: 0;
  }

  .promo__text:nth-of-type(2) {
    margin-top: 21px;
  }

  .subscribe {
    padding: 19px 12px;
  }

  .subscribe__input {
    height: 45px;
  }

  .subscribe__button {
    height: 45px;
  }

  .blog {
    padding: 0 12px;
  }

  .blog__header {
    font-size: 36px;
    line-height: 50px;
  }

  .blog__items-container {
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }

  .blog-item {
    width: min(100%, 450px);
    position: relative;
    padding-bottom: 63px;
  }

  .carousel {
    height: 220px;
  }

  .carousel__button {
    width: calc(50% - 35px);
  }

  .carousel__button img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .carousel__button--prev > img {
    left: 24px;
  }

  .carousel__button--next > img {
    right: 24px;
  }

  .pricing {
    padding: 17px 16px 29px;
    background: #ffffff;
  }

  .pricing__header {
    padding: 0;
    font-size: 36px;
    line-height: 38px;
  }

  .pricing__planes-container {
    margin-top: 20px;
  }

  .price-plane {
    width: min(100%, 340px);
    padding-bottom: 106px;
  }

  .price-plan__title {
    line-height: 50px;
  }

  .price-plan_details__item {
    font-style: 16px;
  }

  .price-plan__button {
    bottom: 22px;
  }
}
